// Bottom Tabbar
.toolbar.tabbar.tabbar-labels
    .toolbar-inner
        a(href="#view-1").tab-link.active
            i.icon.tabbar-demo-icon-1
            span.tabbar-label Information
        a(href="#view-2").tab-link
            i.icon.tabbar-demo-icon-2
            span.tabbar-label Inbox
        a(href="#view-3").tab-link
            i.icon.tabbar-demo-icon-3
                span.badge.bg-red 4
            span.tabbar-label Upload
        a(href="#view-4").tab-link
            i.icon.tabbar-demo-icon-4
            span.tabbar-label Photos
