.navbar
    .navbar-inner
        .left
            a(href="#").back.link
                i.icon.icon-back
                span Back
        .center.sliding.js-title Page 6
.pages
    .page(data-page="page-6")
        .page-content
            .content-block
                p page-6
