doctype html
html
    head
        title yeoman-structure-webapp
    body
        ul#myTab.nav.nav-tabs.nav-justified
            li.active: a(href="#home" title="home") home
            li: a(href="#login" title="login") login
            li: a(href="#about" title="about") about
        #myContainer.container home
